<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <title>{% block title %}Welcome!{% endblock %} - Adventure's seed</title>
    {% endblock %}
</head>

<body>

    <header>
        Adventure's seed
    </header>

    {% block content %}
        content
    {% endblock %}

</body>
</html>
