{% load static %}
<!DOCTYPE html>
<html lang='fr'>
<head>
    {% block head %}
    <title>{% block title %}Welcome!{% endblock %} - Adventure's seed</title>
    {% endblock %}
    <link rel='stylesheet' type='text/css' href='{% static 'core/style/index.css' %}'>
</head>

<body>

    {% block content %}
        content
    {% endblock %}

</body>
</html>
