{% if game_selected %}
    {% for character in game.characters.all %}
        <div class='character selectable selected'>
            {{ character.name }} ({{ character.player }})
        </div>
    {% endfor %}
{% endif %}
